.text {
        float: left; 
        max-width: 55%;
        max-height: 100%;
        position: absolute;
        margin-left: 40%;
        margin-top: 10px;
        font-family: 'GrotesqueMTStd';
        font-size: 30px;
        z-index: +2;
        color: #fff;
        mix-blend-mode: difference;
        line-height: 1.3;
}

.title {
        font-family: 'GrotesqueMTStd';
        font-size: 26px;
        color: #fff;
        font-weight: bold;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 1000;
        position: fixed;
        mix-blend-mode: difference;
        line-height: 1.3;
}

.text h1 {     
        float: left; 
        position: absolute;
        margin-top: 10px;
        font-family: 'GrotesqueMTStd';
        font-size: 30px;
        z-index: +2;
        color: #fff;
        mix-blend-mode: difference;
        line-height: 0;
        text-decoration: underline;
}

a {
        font-family: 'GrotesqueMTStd';
        font-size: 26px;
        color: #fff;
        font-weight: bold;
        z-index: 1000;
        position: fixed;
        mix-blend-mode: difference;
        text-decoration: none;
}

a:visited {
        mix-blend-mode: difference;
}



.hiddenimg {
        display: none;
}

.hiddentxt {
        font-family: 'IBM Plex Sans';
        font-size: 26px;
        color: black;
        top: 100;
        font-weight: bold;      
}

.hiddentxt:hover ~ .hiddenimg {
        display: block;
}

img {
        max-height: 90%;
}

video {
        width: 100%;
        left: 0;
        position: fixed;
        z-index: 0;
        top: 0;
}

video:after {
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	content: '';
	background-color: rgba(0,0,0,0.1);
}

span[id^="anchor-" ] {
        position: absolute;
        background: blue;
        display: inline-block;
}
.images {
        position: relative;
        float: left;
        width: 40%;
        z-index: +3;
}

.images div[id^="image-"] {
        position: absolute;
        top: 0; right: 10px;
        margin-top: -5px;
        width: 100%;
        height: auto;
}
.images div[id^="image-"]:before {
        position: absolute;
        top: 0; right: 0;
        width: 30px;
        height: 30px;
        content: '';
        background-image: url('images/img_button.png');
        background-size: 100% 100%;
        /*opacity: 0.5;*/
        mix-blend-mode: difference;
        display: inline-block;
        z-index: +1;
}

.images div[id^="image-"] img {
        float: right;
        margin-right: -200px;
        width: 800px;
        height: 500px;
        max-width: calc(100% - 20px);
        display: none;
        z-index: +3;
}

.cover {
        display: none;
}

.frontcover {
		display: none;
}



@media print {

        @page {
        	size: 210mm 297mm;
            float: none;
        }

        @page :first{
        	size: 210mm 297mm;
        	margin: 0;       
		}

		div.frontcover {
			page: cover;
			display: block;
			content: url("images/1.jpg");
  			width: 100%;
  			height: 100%; 
		}

        .title {
            display: none;
        }


        .text {
        	max-width: 60%;
        	max-height: 90%;
        	margin-left: 50%;
        	margin-right: 40px;
        	font-family: 'GrotesqueMTStd';
        	font-size: 18px;
        	color: #ffff;
        	line-height: 1.3;
        }

        .text h1 {     
	        margin-top: 10px;
	        font-family: 'GrotesqueMTStd';
	        font-size: 18px;
	        line-height: 0;
	        margin-right: 10px;
	        text-decoration: underline;
		}


	   	#canvas {
        	width: 45%;
        	margin-right: 500px;
        	display: block;

        }

        #canvas2 {
        	width: 45%;
        	margin-top: 20px;
        	display: block;
        }

        #canvas3 {
        	width: 45%;
            margin-top: 20px;
            display: block;
        }

        #canvas4 {
        	width: 45%;
        	margin-top: 20px;
        }

        #canvas5 {
        	width: 45%;
            margin-top: 20px;
            display: block;
        }

        #canvas6 {
        	width: 45%;
        	margin-top: 20px;
        	display: block;
        }

        #canvas7 {
            width: 45%;
            margin-top: 20px;
            display: block;
        }

        #canvas8 {
            width: 45%;
            margin-top: 20px;
            display: block;
        }

        video {
        	display: none;
        }


}
