html, body { 
	    width: 100%;
	    height: 100%;
	    overflow-x: hidden;
}

body { overflow-y: auto }

.text {
        max-width: 55%;
        height: auto;
        min-height: 100%;
        margin-left: 40%;
        margin-top: 10px;
        font-family: 'GrotesqueMTStd', Arial;
        font-weight: bold;
        font-size: 30px;
        z-index: +2;
        color: #fff;
        line-height: 1.3;
        background: transparent;
        display: inline-block;
        mix-blend-mode: difference;
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
}

.text:after { 
	    clear: both;
	    width: 100%;
	    height: 0;
	    content: '';
	    display: block;
}

.title {
        font-family: 'GrotesqueMTStd', Arial;
        font-size: 26px;
        color: #fff;
        font-weight: bold;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 1000;
        position: fixed;
        mix-blend-mode: difference;
        line-height: 1.3;
}

.contents {
		font-family: 'GrotesqueMTStd', Arial;
        font-size: 26px;
        color: #fff;
        font-weight: bold;
        margin-left: 10px;
        z-index: 1000;
        mix-blend-mode: difference;
        line-height: 1.3;
		bottom: 10px;
		position: absolute;
}

.text h1 {     
        padding-top: 1em;
        margin-bottom: 0.25em;
        font-family: 'GrotesqueMTStd', Arial;
        font-size: 30px;
        z-index: +2;
        color: #fff;
        mix-blend-mode: difference;
        text-decoration: underline;
}

a {
        font-family: 'GrotesqueMTStd', Arial;
        font-size: 26px;
        color: #fff;
        font-weight: bold;
        z-index: 1000;
        position: fixed;
        mix-blend-mode: difference;
        text-decoration: none;
}

a:visited {
        mix-blend-mode: difference;
}

canvas[id^="canvas"] { display: none }

.hiddenimg {
        display: none;
}

.hiddentxt {
        font-family: 'GrotesqueMTStd', Arial;
        font-size: 26px;
        color: black;
        top: 100;
        font-weight: bold;      
}

.hiddentxt:hover ~ .hiddenimg {
        display: block;
}

img {
        max-height: 90%;
}

video {
        min-width: 100%;
        min-height: 100%;
        left: 0;
        position: fixed;
        z-index: -1;
        top: 0;
}

video:after {
		position: absolute;
		top: 0; left: 0;
		bottom: 0; right: 0;
		content: '';
		background-color: rgba(0,0,0,0.1);
}

span[id^="anchor-" ] {
        position: absolute;
        background: blue;
        display: inline-block;
}

.images {
        position: relative;
        float: left;
        width: 40%;
        z-index: 1001;
        mix-blend-mode: difference;
}
.images:hover { mix-blend-mode: normal }

.images div[id^="image-"] {
        position: absolute;
        top: 0; right: 10px;
        margin-top: -5px;
        width: 100%;
        height: auto;
}
.images div[id^="image-"]:before {
        position: absolute;
        top: 0; right: 20;
        width: 30px;
        height: 30px;
        content: '';
        background-image: url('images/img_button.png');
        background-size: 100% 100%;
        display: inline-block;
        z-index: +1;
}

.images div[id^="image-"] img {
    position: fixed;
    top: 50%; left: 50%;

    width: auto;
    height: 100%;

    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);

    transform: translate(-50%,-50%);

    display: none;
    z-index: +3;
}
.images div[id^="image-"] img.portrait { 
    width: 80%;
    height: auto;

    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
}

.cover {
        display: none;
}

.frontcover {
		display: none;
}

#imagesprint {
		display: none;
}



@media print {

        @page {
        	size: 210mm 297mm;
            float: none;
        }

		html, body { 
		    width: auto;
		    height: auto;
		    overflow: display;
		}

		div.frontcover {
			page: cover;
			display: block;
  			height: 100%; 
  			width: 297mm;
  			page-break-after: always;
  			font-family: Arial;
        	font-size: 25px;
        	color: #ffff;
        	line-height: 1.3;
		}

		div.frontcover #canvas {
			height: 45%;
			width: 100%;
			object-fit: cover;
		}

		div.frontcover #canvas2 {
			height: 45%;
			object-fit: cover;
			width: 100%;
		}

        .title {
            display: none;
        }

        .contents {
			display: none;
		}


        .text {
            float: left;
            max-height: 100%;
            position: absolute;
        	width: 49%;
        	height: 90%;
        	margin-left: 47%;
        	font-family: Arial;
        	font-size: 24px;
        	color: #ffff;
        	line-height: 1.3;
        	page-break-after: always;
            display: inline;
        }

        .ref {
            width: 170%;
            margin-left: -90%;
            display: block;
        }

        .text h1 {     
	        margin-top: 10px;
	        margin-bottom: 10px;
	        font-family: Arial;
	        font-size: 24px;
	        line-height: 0;
	        margin-right: 10px;
	        text-decoration: underline;
		}

		#imagesprint {
			margin-top: 20px;
			display: block;
		}

		img{
			width: 45%;
			margin-top: 25px;
			display: block;
		}

        canvas[id^="canvas"] { display: block }

        #canvas3 {
        	width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas4 {
        	width: 45%;
        	margin-top: 25px;
        }

        #canvas5 {
        	width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas6 {
        	width: 45%;
        	margin-top: 25px;
        	display: block;
        }

        #canvas7 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas8 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas9 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas10 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas11 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas12 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas13 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas14 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas15 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas16 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas17 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas18 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas19 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas20 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas21 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas22 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas23 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas24 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas25 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas26 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas27 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas28 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas29 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas30 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas31 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas32 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas33 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas34 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas35 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas36 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas37 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas38 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas39 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas40 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas41 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas42 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas43 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas44 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas45 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

         #canvas46 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas47 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas48 {
            width: 45%;
            margin-top: 25px;
            display: block;
            color: grey;
        }

        #canvas49 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas50 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas51 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas52 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas53 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas54 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas55 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas56 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }
        #canvas57 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        #canvas58 {
            width: 45%;
            margin-top: 25px;
            display: block;
        }

        video {
        	display: none;
        }

		.images div[id^="image-"]:before {
			display: none;
		}

		


}
